/* struttura di base */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section{
  width: 700px;
  height: 100vh;
  margin: auto;
}
/* struttura conteiner */

.roma{
  background-image: url(img/roma.jpg);
  background-size: 100% 100%;
  max-width: 100%;
  height: 33.3vh;
  position: relative;
  border: 3px solid white;
}
.copenaghen{
  background-image: url(img/copenaghen.jpg);
  background-size: 100% 100%;
  max-width: 100%;
  height: 33.3vh;
  position: relative;
  border: 3px solid white;
}

.tokyo{
  background-image: url(img/tokyo.jpg);
  background-size: 100% 100%;
  max-width: 100%;
  height: 33vh;
  position: relative;
  border: 3px solid white;
}
  /* struttura layover */
.layover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
/* Struttura del title */
.title{
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 30px;
  transform: translate(-50%,-50%);
  text-align: center;
}
